body {
  font-family: "Helvetica", sans-serif;
  background: #f9f9f9;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px;
  max-width: 600px;
  margin: auto;
  background: white;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.main-image {
  max-width: 100%;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007BFF;
}

select, button {
  padding: 8px;
  font-size: 16px;
  margin: 10px;
}

